h3 {
  font-size: min(max(1.75rem, 3vw), 20px);
}

.display-4 {
  font-size: min(3.75rem, 5vw);
}

.metalic-gradient {
  background: #abbaab;
  background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);
  background: linear-gradient(to bottom, #ffffff, #abbaab);
}

.cloud-gradient {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);
  background: linear-gradient(to left, #FFFFFF, #ECE9E6);
  padding-top: 100px im !important;
}

.second-page {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to bottom, #D5D5D6, #94949b);
  background: linear-gradient(to bottom, #D5D5D6, #94949b);;
}

.third-page {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to bottom, #94949b, #3D3F41);
  background: linear-gradient(to bottom, #94949b, #3D3F41);
}

.third-page h1 {
  color: #fff;
}

// .fourth-page .tab-base {
//   padding-top: 150px !important;
// }

.violet-gradient {
  background: #4776E6;
  background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);
  background: linear-gradient(to left, #8E54E9, #4776E6);
}

.first-page {
  // background-image: url("/img/demo-bg.jpeg");
  background-size: cover;
  background: -webkit-linear-gradient(to bottom, #ffffff, #D5D5D6);
  background: linear-gradient(to bottom, #ffffff, #D5D5D6);
  background-blend-mode: overlay;
}

// .first-page .tab-base {
//   padding-top: 50px !important;
// }

.v-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.rows { 
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  // margin-right:-15px;
  // margin-left:-15px;
  text-align: center;
  padding: 5px;
}

.skill{
  flex: 0 0 33.33333333%;
  max-width: 30%;
  display: grid;
  align-content: space-between;
  margin: 5px;
}

.project{
  flex: 0 0 33.33333333%;
  max-width: 30%;
  display: grid;
  align-content: space-between;
  margin: 5px;
  padding: 1em;
  justify-content: center;
}

.skill-heading {
  padding-bottom: 15px;
  text-align: center;
  color: white;
}

.featurette-icon {
  display:block;
  width:100%;
  color:#2962ff;
  font-size:min(max(120px, 10vw), 50px);
  text-align:center
}

.featurette-img {
  display: block;
  max-width: 100%;
  height: min(max(120px, 10vw), 50px);
  margin: auto;
}

.rating {
  display:block;
  width:100%;
  color:#2962ff;
  font-size:1rem;
  text-align:center
}

.tab-base {
  padding-top: 100px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 30px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-bottom {
  padding: 2px 16px;
  text-align: center;
  background-color: lightgrey;
}

#hover-content {
  display:none;
}
.card:hover #hover-content {
  display:block;
}

// .card:hover
// {
//     // box-shadow: 0px 0px 50px #000000;
//     z-index: 2;
//     position: absolute !important;
//     top:50%;
//     left:50%;

//     -webkit-transition: all 200ms ease-in;
//     -webkit-transform: scale(2) translate(-25%,-25%);
//     -ms-transition: all 200ms ease-in;
//     -ms-transform: scale(2) translate(-25%,-25%);   
//     -moz-transition: all 200ms ease-in;
//     -moz-transform: scale(2) translate(-25%,-25%);
//     transition: all 200ms ease-in;
//     transform: scale(2) translate(-25%,-25%);
// }

#hover-content iframe {
  width: 90%;
  height: 90%;
  border: none;
}

#hover-content ul {
  text-align: left;
}

.noHover {
  pointer-events: none;
}

.card:hover {
  z-index: 2;
  max-width: 60vw;
  width: 50vw;
  padding: 1em;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}


.pulse {
	display: inline-block;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 1s infinite linear;
  -o-animation: bounce 1s infinite linear;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}